<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta>
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

  </head>
<body>
  <div class="container mt-4">
    <A th:href="@{/nou}" class="btn btn-primary">Nuevo</A>
    <table class="table">
      <thead>
        <tr>
          <th>Id usuari</th>
          <th>Nom</th>
          <th>Cog nom</th>
          <th>Telefon</th>
          <th>mail</th>
          <th>*Cotraseña</th>
          <th>Direcció</th>
          <th>Ciutat</th>
          <th>Codi Postal</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="usuari:${usuaris}">
          <td th:text="${usuari.idUsuari}"></td>
          <td th:text="${usuari.nom}"></td>
          <td th:text="${usuari.cognom}"></td>
          <td th:text="${usuari.telefon}"></td>
          <td th:text="${usuari.mail}"></td>
          <td th:text="${usuari.contrasenya}"></td>
          <td th:text="${usuari.direccio}"></td>
          <td th:text="${usuari.ciutat}"></td>
          <td th:text="${usuari.codiPostal}"></td>
          <td>
            <a th:href="@{/editar/}+${usuari.idUsuari}" class="btn btn-primary btn-lg btn-block">Editar</a>
            <a th:href="@{/esborrar/}+${usuari.idUsuari}" class="btn btn-danger btn-lg btn-block">Eliminar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!--
  //<p th:text="${dades}"></p>

  <ul>
   <li th:each="usuari : ${enviar}"></li>
  </ul>
<span th:text="${enviar}">Name</span>

<div th:each="usuari : ${enviar}">
  <span th:text="${usuari.nom}"></span>
  <span th:text="${usuari.ciutat}"></span>
</div>
-->

</body>
</html>